<h4><%= "#{current_user.email}'s" %> Boards. Click on any board.</h4>

<div class="row">
  <p>
  <% @boards.each_slice(3) do  |row| %>
    <% row.each_with_index do |board, index| %>
    <div class="col s6">
      <%= link_to "#{board.name}", board_path(board) %>
      <%= board.setting %>
    </div>
    <% end %>
  <% end %>
  </p>
  </div>
</div>
