<h3> You are viewing: <%= "#{@board.name}" %></h3>

<!-- side bar actions
 delete board
edit board
add card
delete card  -->

<!-- Page will show Board name at top left
Index of all that boards cards -->
